@font-face {
    font-family: 'dinboldalternate';
    src: url(din_alternate_bold-webfont.woff2) format('woff2'),
         url('din_alternate_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'avenirbook';
    src: url('avenir-book-01-webfont.woff2') format('woff2'),
         url('avenir-book-01-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
    height: 1024px;
    background-color:black;
    margin: 0px;
    size: 1024px;
}
#main-container { 
    position: absolute;
    background-color:rgb(199, 200, 202);
    width: 1024px;
    height: 2600px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

h1 {
    display: flex; 
    text-decoration: underline;
    color: white;
    font-family: 'dinboldalternate';
    font-size: 72px;
    justify-content: center;
    color: black;
    margin: 0px;
}

h2 {
    text-decoration: underline;
    color: white;
    font-size: 48px;
}
h3 {
    color: white;
    font-style: normal;
    font-family: 'dinboldalternate';
    font-size: 36px;
}
.headline {
    display: flex;
    justify-content: space-around;
    width: 1024px;
    height: 100px;
    background-color: black;
    position: fixed;
}
#gallery {
    background-color: white;
    width: 1024px;
    height: 490px;
    margin-bottom: 0px;
}
a {
    text-decoration: none;
}
p {
    font-family: 'avenirbook';
    font-size: 18px;
    margin-top: 30px;
}
#skill_format {
    display: flex;
    justify-content: flex-start;
}
#skills_section {
    margin-left: 100px;
    justify-content: flex-start;
}
ul {
    font-family: 'avenirbook';
    text-decoration: none;
    font-size: 18px;
}
#skillPhoto {
    background-color: white;
    width: 635px;
    height: 300px;
    margin-left: 350px;
    margin-bottom: 1000px;
}
#Portfolio_imgs {
    margin-top: 25px;
    margin: 25px;
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-evenly
}
#PortA:hover {
    transform:scale(1.6);
    transition-duration: 1.5s;
}
#PortB:hover {
    transform:scale(1.6);
    transition-duration: 1.5s;
}
#PortC:hover {
    transform:scale(1.6);
    transition-duration: 1.5s;
}
#PortD:hover {
    transform:scale(1.6);
    transition-duration: 1.5s;
}
#PortE:hover {
    transform:scale(1.6);
    transition-duration: 1.5s;
}
#ContactBox {
    width: auto;
    height: 400px;
    background-color: white;
    margin-top: 200px;
}