@font-face {
    font-family: 'dinboldalternate';
    src: url(din_alternate_bold-webfont.woff2) format('woff2'),
         url('din_alternate_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'avenirbook';
    src: url('avenir-book-01-webfont.woff2') format('woff2'),
         url('avenir-book-01-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
    height: 1024px;
    background-color:black;
    margin: 0px;
    size: 1024px;
}
#main-container { 
    position: absolute;
    background-color:rgb(199, 200, 202);
    width: 1024px;
    height: 2000px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

h1 {
    display: flex; 
    text-decoration: underline;
    color: white;
    font-family: 'dinboldalternate';
    font-size: 72px;
    justify-content: center;
    color: black;
    margin: 0px;
}

h2 {
    text-decoration: underline;
    color: white;
    font-size: 48px;
}
h3 {
    color: white;
    font-style: normal;
    font-family: 'dinboldalternate';
    font-size: 36px;
}
.headline {
    display: flex;
    justify-content: space-around;
    width: 1024px;
    height: 100px;
    background-color: black;
    position: fixed;
}
#gallery {
    background-color: white;
    width: 1024px;
    height: 490px;
    margin-bottom: 0px;
_}
a {
    text-decoration: none;
}
p {
    font-family: 'avenirbook';
    font-size: 18px;
    background-color: bisque;
    margin-top: 30px;
}
#skill_Format {
    display: flex;
}
#skills_section {
    margin-left: 100px;
    justify-content: flex-start;
}